<div class="pt24">
  <div class="container">
    <div class="search-form row">
    <%= form_tag search_index_path, method: 'get' do %>
      <div class="search-form-div">
        <div class="select-option col-sm-3">
          <i class="ti-angle-down"></i>
          <%=select_tag :city, options_for_select(City.all.collect {|c| [ c.name, c.name ] }),id: 'city'%>
        </div>
        <div class="col-sm-4" id="input-location"><i class="ti-location-pin "></i>
          <input type="text" name="address" id="search-location" placeholder="location" />
        </div>
        <div class="form-group hidden">
              <%= hidden_field_tag :lat, nil, id: 'search-location-lat', value: params[:lat] %>
            </div>
            <div class="form-group hidden">
              <%= hidden_field_tag :lng, nil, id: 'search-location-long', value: params[:lng] %>
            </div>  
        <div class="select-option col-sm-3">
          <i class="ti-angle-down"></i>
           <%=select_tag :gender, options_for_select([ "Boys", "Girls" ], "Boys"),id: 'gender'%>
        </div>
        <div class="col-sm-2">
          <input type="submit" value="Search" class="search-house-btn"/>
        </div>  
      </div>
      <label class="coords"></label>
      <% end %>
    </div>
  </div>
  <hr/>
</div>
<div>
	
<section class="pt0">
  <div class="row">
   <div class="col-sm-5 list-div">
     <% @houses.each do |house| %>   
      <div class="col-sm-12 house-listing">
        <div class="">
        <h5>Houses for <%= house.house_for%></h5>
          <ul>
            <li>
              <a href="<%= url_for("/houses/#{house.id}") %>">
                <div class="col-sm-6">
                <%=image_tag house.house_image.first.url,class:"img-responsive house-thumb" %>
                </div>
                <div class="col-sm-6">
                  <h4><%= house.name%></h4>   
                  <span><%= house.location%></span>
                  <span><%= house.house_type%></span>
                  <div>
                    <span><%= house.no_of_beds%></span>
                    <span><%= house.house_for%></span>
                  </div>
                  <div>
                    <span><%= house.rent_per_bed%></span>
                    <span><%= house.distance_from_station%></span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @houses.length == 0 %><h4>There is no matching house</h4><% end %> 
  </div>
  <div id="gmap" class="col-sm-7" style="height:500px;"></div>
</div>
</section>
</div>
<script type="text/javascript">
  $("#search-location").geocomplete();
  var lat;
  var lng;
  $("#search-location").geocomplete().bind("geocode:result", function(event, result){
    lat = result.geometry.location.lat();
    lng = result.geometry.location.lng();
    $('#search-location-lat').val(lat);
    $('#search-location-long').val(lng);
  });
	handler = Gmaps.build('Google');
  handler.buildMap({ provider: {disableDefaultUI: true}, internal: {id: 'gmap'}}, function(){

    
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.map.centerOn(markers[0]);
    handler.getMap().setZoom(12);
  });

</script>
