<div class="house-form">
  <%= form_for @house, html: {multipart: :true} do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h4>

      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-sm-6">
      <%= f.hidden_field :house_owner_id, value:@house_owner %>
      <div>
        <label>Name</label>
        <%= f.text_field :name, placeholder:"name"%>
      </div>
      <div>
        <label>House Type</label> 
        <div class="select-option">
          <i class="ti-angle-down"></i>
          <%=f.select :house_type, options_for_select([['Apartment'],['bungalow'],['1BHK'],['2BHK'],['3BHK'],['duplex']])%>
        </div>
      </div>
      <div>
        <label>City</label>
        <div class="select-option">
          <i class="ti-angle-down"></i>
          <%=f.select :city, options_for_select(@city.all.collect {|c| [ c.name, c.name ] })%>
        </div>
      </div>
      <div>
        <label>Enter location manually or select using map</label>
        <%= f.text_field :location, placeholder:"location"%>
        <div><%= f.text_field :latitude , placeholder:"latitude"%></div>
        <div><%= f.text_field :longitude , placeholder:"longitude"%></div>      
        Your house Lattitude: <span id="latspan">22.74</span>
        Your house Longitude: <span id="lngspan">22.74</span>
        click on map select your house
      </div>
      <div id="mapdiv" style="width: 100%;height: 250px;">
        <div id="crosshair"></div>
      </div>
      <div>
        <label>House for</label>
        <div class="select-option">
          <i class="ti-angle-down"></i>
          <%=f.select :house_for, options_for_select([['Boys'],['Girls']])%>
        </div>
      </div>  
      <div>
        <label>No of rooms</label>
        <%= f.number_field :no_of_rooms, class: 'text_field', step: 1 %>
      </div>
      <div>
        <label>no_of_beds</label>
        <%= f.number_field :no_of_beds, class: 'text_field', step: 1 %>
      </div>
      <div>
        <label>rent_per_bed</label>
        <%= f.number_field :rent_per_bed, class: 'text_field', step: 1%>
      </div>  
    </div>
    <div class="col-sm-6"> 
      
      <div>
        <label>rent_per_room</label>
        <%= f.text_field :rent_per_room, placeholder:"Rent per Room"%>
      </div>
      <div>
        <label>food_preference</label>
        <div class="select-option">
          <i class="ti-angle-down"></i>
          <%=f.select :food_preference, options_for_select([['None'],['Veg only'],['All']])%>
        </div>
      </div>     
      <div>
        <label>livingroom_amenities</label>
        <%= f.select :livingroom_amenities, @livingroom_amenities.all.collect {|p| [ p.name, p.name ] }, {:include_hidden => false},{placeholder: 'Type or select a amenitie', id: 'livingroom_amenitie', multiple: 'multiple'} %>
      </div>
      <div>
        <label>bedroom_amenities</label>
        <%= f.select :bedroom_amenities, @bedroom_amenities.all.collect {|p| [ p.name, p.name ] }, {:include_hidden => false},{placeholder: 'Type or select a amenitie', id: 'bedroom_amenitie', multiple: 'multiple'} %>
      </div>
      <div>
        <label>bathroom_amenities</label>
         <%= f.select :bathroom_amenities, @bathroom_amenities.all.collect {|p| [ p.name, p.name ] }, {:include_hidden => false},{placeholder: 'Type or select a amenitie', id: 'bathroom_amenitie', multiple: 'multiple'} %>
      </div>
      <div>
        <label>kitchen_amenities</label>
         <%= f.select :kitchen_amenities, @kitchen_amenities.all.collect {|p| [ p.name, p.name ] }, {:include_hidden => false},{placeholder: 'Type or select a amenitie', id: 'kitchen_amenitie', multiple: 'multiple'} %>
      </div>
      <div>
        <label>other_amenities</label>
         <%= f.select :other_amenities, @other_amenities.all.collect {|p| [ p.name, p.name ] }, {:include_hidden => false},{placeholder: 'Type or select a amenitie', id: 'other_amenitie', multiple: 'multiple'} %>
      </div>
      <div>
        <label>house_image</label>
        <%= f.file_field :house_image, multiple: true %>
      </div>
      <div>
        <label>distance_from_station</label>
        <%= f.text_field :distance_from_station %>
      </div>
    </div>
    <%= f.submit %>
  <% end %>

</div>
<%= render 'shared/amenities', object: 'livingroom_amenities' %>
<%= render 'shared/amenities', object: 'bedroom_amenities' %>
<%= render 'shared/amenities', object: 'bathroom_amenities' %>
<%= render 'shared/amenities', object: 'kitchen_amenities' %>
<%= render 'shared/amenities', object: 'other_amenities' %>
<script type="text/javascript">
window.onload = function () { mapa() };
  $("#house_location").geocomplete();
  
  $('#house_livingroom_amenities').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
        return {
            value: input,
            text: input
        }
    }
  });
// lat lang using manual entry
  $("#house_location").geocomplete().bind("geocode:result", function(event, result){
    var lat = result.geometry.location.lat();
    var lng = result.geometry.location.lng();
    $('#house_latitude').val(lat);
    $('#house_longitude').val(lng);
    console.log(lat)
    console.log(lng)
    });

  // Lat lng using map////

  var map; 
  function mapa() { 
    var opts = {
      'center': new google.maps.LatLng(22.79, 76.35),
      'zoom':8, 
      'mapTypeId': google.maps.MapTypeId.ROADMAP 
    } 
    map = new google.maps.Map(document.getElementById('mapdiv'),
     opts
     ); 
    google.maps.event.addListener(map,'click',function(event) { 
      document.getElementById('house_latitude').value = event.latLng.lat() 
      document.getElementById('house_longitude').value = event.latLng.lng() 
      var clickLat = event.latLng.lat();
      var clickLon = event.latLng.lng();
      marker = new google.maps.Marker({position: event.latLng, map: map});
   }) 

    google.maps.event.addListener(map,'mousemove',function(event) { 
     document.getElementById('latspan').innerHTML = event.latLng.lat()
     document.getElementById('lngspan').innerHTML = event.latLng.lng()
   }); 
     m
  }
// // // //
</script>