<section class="pb0">
	<div class="container">
		<p id="notice"><%= notice %></p>
		<div class="house-details">
			<div class="row">
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-12 module widget-handle hidden-xs" style="min-height: 41px; border:1px;">
							<nav>
								<ul class="nav nav-offer menu">
									<li>
										<a class="nav-link" href="#Overview" class="overview-btn">Overview</a>
									</li>	
									<li>
										<a class="nav-link inner-link" href="#house-amenities" class="amenities-btn">Amenities</a>
									</li>
									<li>
										<a class="nav-link inner-link" href="#house-on-map" >Map</a>
									</li>
									<li>
										<a class="nav-link inner-link" href="#house-conditions" >Conditions</a>
									</li>
									<li>
										<a class="nav-link inner-link" href="#house-reviews" >Reviews</a>
									</li>
								</ul>
							</nav>
						</div>	
					</div>	<!-- end of row -->		
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<% i= 0%> 
						<% count= @house.house_image.count %>
						<ol class="carousel-indicators">
							<% for i in 0..count-1 do%>
							<li data-target="#myCarousel" data-slide-to= <%= i %> >
							</li>
							<% i = i+1%>
							<% end %>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<% @house.house_image.each_with_index do |image, index|%>
							<div style="background: url(<%=image.url%>) center center; background-size:cover;" class="slider-size image-responsive item <%='active' if index == 0%>" data-slide-to="<%= index %>">
							</div>
							<%end%>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<div class="col-sm-4 house-details-right">
					<div class="house-right-tabs">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#schedule-house" aria-controls="schedule-house" role="tab" data-toggle="tab">Schedule a visit</a></li>
							<li role="presentation"><a href="#book-house" aria-controls="book-house" role="tab" data-toggle="tab">Book Now</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="schedule-house">
								<%= render 'visit_schedules/form'%>
							</div>
							<div role="tabpanel" class="tab-pane" id="book-house">
								<div>
									<h5 style="margin: 10px;">To Book, you need to pay a token amount and the remaining before move-in. </h5>
									<div align="center"><%= link_to 'book', payments_bed_confirmation_path(house_id: @house.id), class:'btn'%></div>
									<div>
										<div class="col-sm-3 visit-count" align="center">
											<p class="uppercase"><span><%=@house.visit_count%></span> Visits</p>
										</div>
										<div class="col-sm-9">
											<span><strong>Already Scheduled</strong></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>   <!-- end of row -->
		</div>
	</div>	
</section>
<section class="pt0">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class=row>
					<div class="subpanel">
						<ul class="house-overview">
							<li class="house-overview-item">
								<div class="house-overview-title">Type</div> 
								<div class="house-overview-body "><%= @house.house_type%></div>
							</li>
							<li class="house-overview-item">
								<div class="house-overview-title">Only For</div> 
								<div class="house-overview-body "><%= @house.house_for%></div>
							</li>
							<li class="house-overview-item">
								<div class="house-overview-title">Rooms</div> 
								<div class="house-overview-body "><%= @house.no_of_rooms%></div>
							</li>
							<li class="house-overview-item">
								<div class="house-overview-title">Bed</div> 
								<div class="house-overview-body "><%= @house.no_of_beds%></div>
							</li>
						</ul>			
					</div>
				</div>
				<div class="house-rent-detail row mt8">
					<div class="col-xs-6">
						<h5>Rent</h5>
						<h5><%=@house.rent_per_bed%></h5>
					</div>
					<div class="col-xs-6">
						<h5>Security Deposit</h5>
						<h5><%=2*@house.rent_per_bed%></h5>
					</div>	
				</div>

				<div class="row mt8" id="house-amenities">
					<div  class="mt8">
						<div class="amenities-list">
							<h4 class="uppercase">Home Amenities</h4>
							<div class="col-sm-6">
								<h5><strong>Living Room</strong></h5>
								<ul>
									<% @house.livingroom_amenities.each do |amenities| %>
									<li><%= amenities %></li>
									<% end %>
								</ul>
							</div>
							<div class="col-sm-6">
								<h5><strong>Kitchen</strong></h5>
								<ul>
									<% @house.kitchen_amenities.each do |amenities| %>
									<li><%= amenities %></li>
									<% end %>
								</ul>
							</div>
							<div class="col-sm-6">
								<h5><strong>bedroom</strong></h5>
								<ul>
									<% @house.bedroom_amenities.each do |amenities| %>
									<li><%= amenities %></li>
									<% end %>
								</ul>
							</div>
							<div class="col-sm-6">
								<h5><strong>Bathroom</strong></h5>
								<ul>
									<% @house.bathroom_amenities.each do |amenities| %>
									<li><%= amenities %></li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt8">
					<div class="house-detail-table">
						<div>
							<h4 class="uppercase">Property Summary</h4>
						</div>	
						<table class="house-desc table">
							<tr>
								<td class="att">GoogleHomes Home Id:  </td><td class="att-title"><%=@house.city%></td>
							</tr>
							<tr>
								<td class="att">Address:  </td><td class="att-title"><%=@house.location%></td>
							</tr>
							<tr>
								<td class="att">City:  </td><td class="att-title"><%=@house.city%></td>
							</tr>
							<tr>
								<td class="att">House Type:  </td><td class="att-title"><%=@house.house_type%></td>
							</tr>							
							<tr>
								<td class="att">For:  </td><td class="att-title"><%=@house.house_for%></td>
							</tr>
							<tr>
								<td class="att">Food Preference:  </td><td class="att-title"><%=@house.food_preference%></td>
							</tr>
							<tr>
								<td class="att">Distance from station:  </td><td class="att-title"><%=@house.distance_from_station%></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="row mt8">
					<div id="house-on-map" style="margin:10px;height: 300px;">
						
					</div>
				</div>
			</div>
			<div class="col-sm-4 ">
				<div class=" row hw-detail">
					<h4 class="uppercase">House owner</h4>
					<div align="center">
						<%= image_tag @house_owner_image.url%>
						<div class="hwname" >
							<h4><%= @owner_fullname%></h4>
						</div>
					</div>	
				</div>
				<div class="customer-story row">
					<h4 class="uppercase">Customer Stories</h4>
				</div>
			</div>
		</div>				
	</div>
</section>
<div class="container-fluid">
	<div class="house-rule"> 
	<%= render 'house_rules' %>
</div>
</div>
<section class="pt0">
<%= render 'house_review'%>
</section>
<section class="pt0">
	<div class="similar-house container-fluid" >
		<h5 class="uppercase">Similar house</h5>
		<div class="col-sm-4" style="border: 1px #ccc solid; margin:5px;">
			<div style="margin:5px;">
				<%= image_tag 'arch6.jpg', class: 'image-responsive'%>
				<div class="similar-house-price">Rs. <%= @house.rent_per_bed%></div>
			</div>
			<div>
				<%= @house.location %>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'house-on-map'}}, function(){
		markers = handler.addMarkers([
		{
			"lat": <%=@house.latitude%>,
			"lng": <%=@house.longitude%>
		}
		]);
		handler.bounds.extendWith(markers);
		handler.map.centerOn(markers[0]);
		handler.getMap().setZoom(15);
	});

</script>
<!-- <div class="col-sm-4 owner-detail" >
				<div class="col-sm-4 owner-image">
					<%#=image_tag "avatar.png"%>
				</div>
				<div  class="col-sm-8 owner-name">
					<span>House Owner</span>
					<h5><strong><%#= @owner_fullname%></strong></h5>
				</div>
			</div> -->	