
<div class="owner-my-house" align="center">
	<div align="center">
		<h3 class="uppercase">My Payments</h3>
	</div>
	
	<div>
		<table class="table table-responsive">
			<tr>
				<td>House id </td>
				<td>Tenant id </td>
				<td>Month</td>
				<td>Year</td>
				<td>Amount</td>
				<td>date</td>
				
			</tr>
			<%@payments.each do |payment|%>
			<tr>
				<td><%= payment.house_id %></td>
				<td><%= payment.tenant_id %></td>
				<td><%= payment.month %></td>
				<td><%= payment.year %></td>
				<td><%= payment.amount %></td>
				<td><%= payment.date %></td>
			</tr>
			<% end %>
		</table>

	</div>
</div>
