<section class="custom-section">
	<div class="container">
		<div class="dashboard-header">
			<div class="row">
				<div class="col-sm-3">
					<%=image_tag @house_owner_profile.image.url(:thumb), class:"img-responsive",height:'200',width:'100%'%>
				</div>
				<div class="col-sm-9">
					<h3>Register Your House with GoogleHomes</h3>
					<p> Share your Referral Code <span style="color:#47b475;">CWWIYG </span> with your friends. If your friend uses your referral code while registring, you get Rs5000! And your friend gets 4000.
					</p>
				</div>
			</div>
		</div>	

		</br>
		<div class="row">
			<div class="col-sm-3 sidebar-left-custom">
				<div class="widget">
					<h6 class="title">Blog Categories</h6>
					<hr>
					<ul class="link-list uppercase">
						<li>
							<div class="li-dashboard"><%= link_to 'My House', my_houses_owner_house_owners_path, remote: "true" %></div>
						</li>						
						<li>
							
						</li>
						<li>
							<div class="li-dashboard"><%= link_to 'My payments', my_payments_owner_house_owners_path, remote: "true" %></div>
						</li>
						<li>
							<div class="li-dashboard "><%= link_to 'My credits', my_credits_owner_house_owners_path, remote: "true" %></div>
						</li>
						<li>
							<div class="li-dashboard"><%= link_to 'My notifications', my_notifications_owner_house_owners_path, remote: "true" %></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-9" id="owner-dashboard-section">
				<%= render 'my_houses'%>
			</div>
		</div>		
	</div>	
</div>
</section>