<div class="container-fluid">
	<h1>House owner profile</h1>
	<%# if !current_user.tenant_profile.valid? %>
	<% #if @house_owner_profile.blank? %>
	<p class="alert alert-warning">
		Your profile is incomplete. Please fill out more of your
		
		<%= link_to 'Update Profile',   edit_owner_house_owner_house_owner_profile_path(house_owner_id: current_user.id, id: current_user.house_owner_profile.id)%>

	</p>
	<% #end %>
</div>
<%#end%>

<section>
	<div class="row">
	<div class="container-fluid">
		<div class="col-sm-4 ">
			<div class=" pt-1 text-center">
				<h5 class="uppercase"></h5>
				<%= image_tag @house_owner_profile.image_url(:thumb) if @house_owner_profile.image? %>
			</div>
			<!--end of pricing table-->
		</div>
		<div class="col-sm-4 t-profile-info">
			<div class=" pt-1  boxed">
				<h5 class="uppercase">Personal info</h5>
				<p>name: <span><%=@house_owner.full_name%></span> </p>
				<p>Gender: <span><%=@house_owner_profile.sex%></span> </p>
				<p>Birth date: <span><%=@house_owner_profile.DOB%></span> </p>
				<p>email:<span><%=@house_owner.email%></p>
				<p>About me: <span><%=@house_owner_profile.bio%></span> </p>

			</div>
			<!--end of pricing table-->
		</div>
		<div class="col-sm-4 t-profile-info">
			<div class="pt-1 ">
				<h5 class="uppercase">Address</h5>
				<p>Permanent Address:<span><%=@house_owner_profile.full_permamnent_address%></span></p>
				<p>Contact Number:<span><%=@house_owner.contact_number%></span></p>

				
			</div>
			<!--end of pricing table-->

		</div>
			
		</div>
	</div>
	<div class="container">
			<div class="account-setting">
				<h4 class="uppercase">Account Setting</h4>
					<h5>Change Email and password</h5>
					<%= link_to 'Update Account',  edit_house_owner_registration_path, class:'btn'%>
					<%= link_to 'Update Profile',  edit_owner_house_owner_house_owner_profile_path(house_owner_id: current_user.id, id: current_user.house_owner_profile.id), class:'btn'%>
			</div>
		</div>
</section>

<style type="text/css">
	.profile-detail{border:1px #ccc solid; padding: 10px 20px;}
	.profile-detail tr td{margin-bottom: 10px; font-size:16px; color:#4d4d4d;}
</style>