<div class="container-fluid">
	<h1>House owner profile</h1>
	<%# if !current_user.tenant_profile.valid? %>
	<% #if @house_owner_profile.blank? %>
	<p class="alert alert-warning">
		Your profile is incomplete. Please fill out more of your
		
		<%= link_to 'Update Profile',   edit_owner_house_owner_house_owner_profile_path(house_owner_id: current_user.id, id: current_user.house_owner_profile.id)%>

	</p>
	<% #end %>
</div>
<%#end%>
<section class="custom-section">
	<div class="container">
		<h3 class="uppercase"><%=@house_owner.full_name%></h3>
		<div class="col-sm-6 profile-detail">
			
			<p class="text-center"><%= image_tag @house_owner_profile.image_url(:thumb) if @house_owner_profile.image? %></p>
			<hr>
			<table class="table">
				<tr>
				<td>Gender:</td><td><%= @house_owner_profile.sex%> </td>
				</tr>
				<tr>
					<td>Bio: </td><td><%=@house_owner_profile.bio%> </td>
				</tr>
				<tr>
					<td>DOB: </td><td><%=@house_owner_profile.DOB%> </td>
				</tr>
				<tr>
					<td>email:</td><td><%=@house_owner.email%></td>
				</tr>
				<tr>
					<td>Occupation: </td><td><%=@house_owner_profile.occupation%> </td>
				</tr>
				
				<tr>
					<td>contact_number:</td><td><%=@house_owner.contact_number%></td>
				</tr>
				<tr>
					<td>Permanent Address:</td><td><%=@house_owner_profile.full_permamnent_address%></td>
				</tr>
				
			</table>
			<%= link_to 'Update Profile',  edit_owner_house_owner_house_owner_profile_path(house_owner_id: current_user.id, id: current_user.house_owner_profile.id), class:'btn'%>
		</div>
		<div class="col-sm-6 profile-detail">
			<div class="account-setting">
				<h4 class="uppercase">Account Setting</h4>
					<h5>Change Email and password</h5>
					<%= link_to 'Update Account',  edit_house_owner_registration_path, class:'btn'%>
			</div>
		</div>
	</div>	
</section>
<style type="text/css">
	.profile-detail{border:1px #ccc solid; padding: 10px 20px;}
	.profile-detail tr td{margin-bottom: 10px; font-size:16px; color:#4d4d4d;}
</style>