<section class="pt0">
	<div class="container-fluid">
		<div>
			<h3 class="uppercase">check out GoogleHomes Houses</h3>
			<hr>
		</div>
		<div align="center">
			<p style="margin-bottom: 0;">
				<span><a href="" class="btn">All</a></span>
				<span><a href=""class="btn">Indore</a></span>
				<span><a href=""class="btn">Bhopal</a></span>
				<span><a href=""class="btn">Jabalpur</a></span>
			</p>
			<hr>
		</div>
		<div class="row">
			<div class="container">
				<h4> Houses</h4>
				<% @house.each do |house| %> 
				<% current_house = @house.find(house) %>
				<% image = current_house.house_image.first.url %>
					<div class=" col-sm-4 house-listing">
						<div class="col-sm-6">
							<a href="<%= url_for("/houses/#{current_house.id}") %>" target="_blank">
								<div style="background:url(<%= image unless image == nil %>)center center; background-size:cover; max-height:100%;min-height: 150px; ">
								</div>
							</a>
						</div>		
						<div class="col-sm-6">
							<h5><%= current_house.id %></h5>
							<span>city: <%= current_house.city %></span>
							<span><%= current_house.house_type %></span>
							<div>
								<span>Rooms: <%= current_house.no_of_rooms %></span>
								<span>Beds: <%= current_house.no_of_beds %> </span>
							</div>
							<div>
								<span>House for: <%= current_house.house_for %></span>
								<span>Rent: <%= current_house.rent_per_bed %></span>									
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>