<section class="cover fullscreen image-slider slider-all-controls controls-inside parallax top-section">
  <ul class="slides">
    <li class="overlay image-bg">
      <div class="background-image-holder ">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 text-center">
            <h2 class="mb8" style="text-shadow:2px 3px 1px #000;">City apartments: your smart home alternative.</h2>
            <h5 class="lead mb48" style="text-shadow:2px 2px 1px #000;">
              Book homes from local hosts in 3 cities and experience a place like you live there.
            </h5>
            <div align="center">
              <a href="" class="btn btn-lg" data-toggle="modal" data-target="#myModal">How its Works</a>
            </div>
            <div class="search-form row">
              <%= form_tag search_index_path, method: 'get' do %>
              <div class="select-option col-sm-3 city-select">
                <i class="ti-angle-down"></i>
                <%=select_tag :city, options_for_select(City.all.collect {|c| [ c.name, c.name ] }),id: 'city'%>
              </div>
              <div class="col-sm-4" id="input-location"><i class="ti-location-pin "></i>
                <input type="text" name="name" id="search-location" placeholder="location" />
              </div>  
              <div class="form-group hidden">
                <%= hidden_field_tag :lat, nil, id: 'search-location-lat' %>
              </div>
              <div class="form-group hidden">
                <%= hidden_field_tag :lng, nil, id: 'search-location-long' %>
              </div>
              <div class="select-option col-sm-3 gender-select">
                <i class="ti-angle-down"></i>
                 <%=select_tag :gender, options_for_select([ "Boys", "Girls" ], "Boys"),id: 'gender'%>
              </div>
              <div class="col-sm-2 search-house-submit-btn">
                <input type="submit" value="Search" class="search-house-btn"/>
              </div>  
              <% end %>
            </div>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </li>
  </ul>
</section>
<section>
 <%= render 'about'%>
</section>
<section class="bg-dark">
  <%= render 'why_use'%>
</section>
<!-- <section>
  <%#= render 'house_detail'%>
</section> -->
<section class="pt40 pb40">
  <%= render 'feature'%>
</section>

<section class="pt120 pb120 image-bg overlay">
  <%= render 'feedback'%>
</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin: 0 auto; width: 100%;">

    <!-- Modal content-->
    <div class="modal-content" style="padding-top: 30px;">
      <div class="modal-header" style="border-bottom: 0px;" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title uppercase">How It works</h4>
      </div>
      <div class="modal-body container how-it-works">
        <div class="row" align="center">
          <div class="col-sm-4">
          <%= image_tag 'GHimages/search.jpg'%>
          <h4 class="uppercase"><span>1</span> Search</h4>
          <h5>Sear houses as per your requirements </h5>
          <ul>
            <li>
              <i class="fa fa-map-marker"></i><span>Locality</span>
            </li>
            <li>
              <i class="fa fa-user"></i><span>Gender</span>
            </li>
            <li>
              <i class="fa fa fa-inr"></i><span>budget</span>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'capital2.jpg'%>
          <h4 class="uppercase"><span>2</span> Schedule</h4>
          <h5>Schedule visits all houses you like. Our representative will show you around the houses and answer all queries. </h5>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'GHimages/book.jpg'%>
          <h4 class="uppercase"><span>3</span> Book</h4>
          <h5>Book the bed/room you like by paying just the token amount(one month room rent) </h5>
          <h6>Zero Brokrage</h6>
          <h6>3 days money back guarrentee</h6>
          <h6>2 Months security deposit</h6>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
  $("#search-location").geocomplete();
  $("#search-location").geocomplete().bind("geocode:result", function(event, result){
    var lat = result.geometry.location.lat();
    var lng = result.geometry.location.lng();
    $('#search-location-lat').val(lat);
    $('#search-location-long').val(lng);
  });

</script>