<section class="home-owner-top">
    <div class="container">
        <div class="row mb48 mb-xs-24">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center home-owner-top-header">
                <p class="uppercase" style="font-size:32px; ">List your place and make money!</p>
                <p style="font-size:16px;">Do you have an empty apartment, spare room or a holiday home? Sign up with GoogleHomes and start renting to tenants from all over India! </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row mb40 mb-xs-24">
            <div class="text-center">
                  <%= link_to 'List Your House',new_house_path, class:'btn btn-filled'%>
                  <%= link_to 'Refer a friend',new_house_path, class:'btn btn-filled'%>
                    
                </form>
            </div>
        </div>
        <!--end of row-->
        
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="bg-dark pt120 pb120 pt-xs-40 pb-xs-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-2">
                <div class="feature feature-3 mb64 mb-xs-24">
                    <div class="left">
                        <i class="ti-signal icon-sm"></i>
                    </div>
                    <div class="right">
                        <h4 class="mb16">Hassle free renting </h4>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="feature feature-3 mb64 mb-xs-24">
                    <div class="left">
                        <i class="ti-ruler-alt icon-sm"></i>
                    </div>
                    <div class="right">
                        <h4 class="mb16">Verified tenants</h4>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-sm-6 col-md-4 col-md-offset-2">
                <div class="feature feature-3 mb-xs-24">
                    <div class="left">
                        <i class="ti-layers icon-sm"></i>
                    </div>
                    <div class="right">
                        <h4 class="mb16">Complete control </h4>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="feature feature-3">
                    <div class="left">
                        <i class="ti-heart icon-sm"></i>
                    </div>
                    <div class="right">
                        <h4 class="mb16">No maintenance hassles</h4>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-6 pt60 pt-xs-0">
        
        <div class="feature bordered">
          <h4 class="uppercase mb40 mb-xs-24">We bring to you up to INR 1 Crore structure & content insurance. </h4>
          <div class="mb40">
            
            <p class="uppercase"><strong>
              I don't want to monitor my tenants but what if they damage my house ? Should I send someone once a month? Where will I find this SOMEONE? Should I charge security deposit but its peanuts anyway? May be I should just lock it down, but then it becomes a ghost house." 
            </strong></p>
          </div>
          <div class="mb20">
            <a href="#" class="btn"> Read more </a>
          </div>
        </div>
        <div class="feature bordered bg-secondary">
          <h3 class="uppercase mb40 mb-xs-24">Zero hassles. Zero brokerage.</h3>
          <div class="mb40">
            <h6 class="mb8 ">From tenant sourcing to rent collection, to tenant move-out and everything in between, GoogleHomes takes care of it all. </h6>
            <h6 class="uppercase">
              Legal agreement
            </h6>
            <h6 class="uppercase">
             Exit inspection
            </h6>
            <h6 class="uppercase">
              Rent collection 
            </h6>
            <h6 class="uppercase">
             Security deposit
            </h6>
          </div>
          
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="feature bordered hidden-xs hidden-sm">
          <h3 class="uppercase mb64 mb-xs-24">Earn 40 - 50% higher rental income.</h3>
          <p>
            <strong>We rent your house as fully furnished sub-units to singles. The model ensures you get higher rental returns from your property. for most dietary requirements.</strong>
          </p>
          <p class="text-center">
            <a href="#" class="btn ">Know more</a>
          </p>
        </div>
        <div class="feature bordered bg-primary">
          <h4 class="uppercase mb40 mb-xs-24">Know who's staying in your home beyond just the name.</h4>
          <p><strong>We do a complete verification of your tenant's personal and professional profile, so that you don’t have to. GoogleHomes assures you a 100% hassle free experience. </strong></p>
          <h6 class="uppercase">
              ID proof
            </h6>
            <h6 class="uppercase">
             Address Proof
            </h6>
            <h6 class="uppercase">
              Employment Proof
            </h6>
            <h6 class="uppercase">
             Education Proof
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section style="background-color: #f8f8f8">
  <h3 class="text-center">People like you love Foundry</h3>
  <div class="container">
    <div class="row masonry masonryFlyIn fadeIn" style="position: relative; height: 800px;">
    <% @owners.each do |owner| %>  
      <div data-filter="People" class="col-sm-6 masonry-item project fadeIn" style="position: absolute;">
        <div class="image-tile hover-tile text-center  cast-shadow-light">
          <%=image_tag owner.image.url, class:"background-image", alt:"image"%>
          <div class="hover-state">
            <a href="#">
              <h3 class="uppercase mb8"><%= owner.first_name %> </h3>
              <h6 class="uppercase"> <%=owner.full_permamnent_address%></h6>
              <p>I love the ease-of-use - </p>
            </a>
          </div>
        </div>
        <!--end of hover tile-->
      </div> 
      <% end %>     
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>