<p id="notice"><%= notice %></p>

<h1>Listing Visit Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Date</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visit_schedules.each do |visit_schedule| %>
      <tr>
        <td><%= visit_schedule.name %></td>
        <td><%= visit_schedule.email %></td>
        <td><%= visit_schedule.phone %></td>
        <td><%= visit_schedule.date %></td>
        <td><%= visit_schedule.time %></td>
        <td><%#= link_to 'Show', visit_schedule %></td>
        <td><%#= link_to 'Edit', edit_visit_schedule_path(visit_schedule) %></td>
        <td><%#= link_to 'Destroy', visit_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

#<%#= link_to 'New Visit schedule', new_visit_schedule_path %>
