<section style="background: #f5f5f5 none repeat scroll 0 0 !important;" class="pt40">
	<div class="col-sm-6 col-sm-offset-3" style="background: #ccc;"> 
		<div class="payment-widget-card">
			<div class="payment-gender-choose">
				<strong>This house is available for <%= @house.house_for %>.</strong>
			</div>
		</div>
		<div class="payment-widget-content">
			<div id="sharing_option"class="animated fadeIn booking-option option-bed">
				<h6 class="text-center">Click on bed to select</h6>
				<div class="row text-center">
					<ul class="select-bed-list">
						<%i=@house.no_of_beds%>
						<% j=1 %>
						<% for room in 1..@house.no_of_rooms %>
						<div class="row">
							<li>
								<div class="col-sm-4">
									<h5>Bedroom <%= room%></h5>
								</div>
							</li>
							<li>
								<div class="col-sm-8 choose-bed-widget">
									<% for bed in 1..2 %>
									<input type="radio" name="bed_id" id="bed<%= @house.id%><%= room%><%= j%>" class="chosen-bed" value="<%= @house.rent_per_bed %>">
									<label for="bed<%= @house.id%><%= room%><%= j%>"><i class="ti-layout-cta-left"><br></i><%= @house.rent_per_bed%></label>
									<%j+=1%>
									<% if j==i then%>
									<%break %>
									<%end %>
									<%end%>
								</div>
							</li>
						</div>
						<%end%>
					</ul>					
				</div>
			</div>
			<div id="sharing_option"class="animated fadeIn booking-option option-room">
				<h6 class="text-center">Click on room to select</h6>
				<div class="row text-center">
					<ul class="select-bed-list">
						<% r=0 %>
						<% for room in 1..@house.no_of_rooms %>
						<div class="row">
							<li>
								<div class="col-sm-4">
									<h5>Room <%= room%></h5>
								</div>
							</li>
							<li>
								<div class="col-sm-8 choose-bed-widget">
									
									<input type="radio" name="bed_id" id="room<%= @house.id%><%= r%>" class="chosen-bed" value="<%= @house.rent_per_room %>">
									<label for="room<%= @house.id%><%= r%>"><i class="ti-layout-cta-left"><br></i><%= @house.rent_per_room%></label>
									<%r+=1%>
								</div>
							</li>
						</div>
						<%end%>
					</ul>					
				</div>
			</div>
			<div class="rent-option">
				<h6 class="text-center">Choose your booking type</h6>
				<div class="roomtype text-center">

					<label class="bed-type-btn">
						<input type="radio" value="bed" style="margin-right: 6px;" name="bed_type" id="shared" checked="checked"><b>Shared Room</b>
					</label>
					<label class="bed-type-btn">
						<input type="radio" value="room" style="margin-right: 6px;" name="bed_type" id="private"><b>Private Room</b>
					</label>
					<label style="border:0; padding-right:20px;" class="bed-type-btn">
						<input type="radio" value="house" style="margin-right: 6px;" name="bed_type" id="house"><b>House</b>
					</label>
				</div>
			</div>	
		</div>
<!-- hidden fields for room and bed -->
	<!-- <div class="form-group hidden">
    <%#= hidden_field_tag :bed, nil, id: 'selected-bed', value: params[:bed] %>
  </div>
  <div class="form-group hidden">
    <%#= hidden_field_tag :room, nil, id: 'selected-room', value: params[:room] %>
  </div> --> 
<!-- end of hidden fields -->
		<div id="movein-popup" class="movein-popup-payment">
			<div class="movein-popup-widget">
				<div class="date-popup-header">
					<div>Set your move in date</div>
					<div style="" id="available-date" class="date-available">You can only move-in after 48 hours from bed available date.</div>
					<div class="movein-info" style="display: none;">Please choose your move in date</div>
				</div>
				<span class="error-date"></span>
				<div class=" row move-date-widget">
					<div class="col-xs-2">
						<span class="pe-7s-date"></span>
					</div>
					<div class="col-xs-10">
						<input type="text" readonly="" required="true" placeholder="select move in date" id="datepicker-disable-past" name="move_in_date">
						
					</div>
				</div>
				<div class="movein-footer">
					<a id="choose-move-date-close" href="" class="btn"> Cancel</a>
					<a id="movein-ok-btn" class="btn"> Set move in date</a>
				</div>
			</div>
		</div>
		<div class="row chosen-move-in-date">
			<h6>Your chosen move in date</h6>
			<h4 class= 'date-text' style="color: #47B59C;"></h4>
			
			<div class="col-sm-8">
				<div class="col-sm-6">
					<a id="choose-move-date-close" href="" class="btn"> Cancel</a>
				</div>
				<%= form_tag payments_confirmation_path do %>
				<%= hidden_field_tag :date, nil, id: 'move-in-date', value: params[:date] %>
				<%= hidden_field_tag :house_id, nil, id: 'ghomes-house_id', value: params[:house_id] %>
				<%= hidden_field_tag :token, nil, id: 'token-amount', value: params[:token] %>
				<%= hidden_field_tag :rent, nil, id: 'rent-amount', value: params[:rent] %>
				<%= hidden_field_tag :month, nil, id: 'rent-month', value: params[:month] %>
				<%= hidden_field_tag :bed_room, nil, id: 'bed-room', value: params[:bed_room] %>
				<div class="col-sm-6">
					<input type="submit" value="Go for payment" class="bed-submit"/>
				</div>
				<% end %>
			</div>
		</div>
		<div>
		</section>

		<script type="text/javascript">
			var full_rent;
			$('#datepicker-disable-past').datepicker({
			  dateFormat: "dd-mm-yy",
			  minDate: 2 });
			$('#movein-popup').hide();
			$('.chosen-move-in-date').hide();
			$('.option-room').hide();

			$(".choose-bed-widget input[type=radio]").click(function () {
				$('.payment-widget-content').hide("slide", {direction: "down" }, 500);
				$('.rent-option').hide("slide", {direction: "down" }, 500);
				$('.chosen-move-in-date').hide("slide", {direction: "down" }, 500);
				$('#movein-popup').show("slide", {direction: "up" }, 500 );
				});
				$('.choose-bed-widget input[type=radio]').on('change', function() {
				 $(this).prop("checked", true);
					full_rent = $(this).val();
					var id= $(this).attr('id');
					$('#bed-room').val(id);
					console.log(id)
					
					// $('#token-amount').val($(this).val()/2);
					// console.log($(this).val()/2)
				
				
				
				event.preventDefault();
			});
				$('#shared').click(function(event){
					$('.option-bed').show();
					$('.option-room').hide();
					
				});

				$('#private').click(function(event){
					$('.option-bed').hide();
					$('.option-room').show();
				});

			$('#movein-ok-btn').click(function(event){
				var date = $('#datepicker-disable-past').val();
				var dateArray = date.split('-');
				var dateDay = dateArray[0];
				if(date == ""){
					$('.error-date').html('Please select date')
					
				}
				else{
					
					
					$('.chosen-move-in-date').show("slide", {direction: "down" }, 500 );
					$('.date-text').html(date);
					$('#move-in-date').val(date);
					$('#ghomes-house_id').val(<% @house.id %>);
					$('#rent-month').val(dateArray[1]);
					$('#movein-popup').hide();
					$('.rent-option').show("slide", {direction: "down" }, 500);
					$('.payment-widget-content').show("slide", {direction: "down" }, 500 );

				}
					$('#rent-amount').val(full_rent)
					if(dateDay>15){
						$('#token-amount').val(full_rent/2)
					}
					else{
						$('#token-amount').val(full_rent)
					}
					// $('#token-amount').val($(this).val()/2);
					// console.log($(this).val()/2)
					
				event.preventDefault();
			});


		</script>