
  <div class="row">
    <div class="col-sm-6">
      <p class="lead">
        Fill your basic details
      </p>
      <div class="input-with-label text-left">
        <label>Date of birth</label>
        <%= f.text_field :DOB, placeholder: 'DOB' %>
      </div>
      <div class="input-with-label text-left">
        <span>Father's Name</span>
        <%= f.text_field :father_name, placeholder: 'Father Name' %>
      </div>
      <div class="row">
        <h5 class="uppercase">Sex</h5>
        <div class="col-sm-6">
          <div class="radio-option checked">
            <div class="inner"></div>
            <input name="radio" value="Male" type="radio">
          </div>
          <span class="after-radio">Male</span>
        </div>
        <div class="col-sm-6">
          <div class="radio-option">
            <div class="inner"></div>
            <input name="radio" value="Female" type="radio">
          </div>
          <span class="after-radio">Female</span>
        </div>
      </div>
      <div class="input-with-label text-left">
        <span>Permanent Address</span>
        <label>Address</label>
        <%= f.text_field :p_address, placeholder: 'Address line 1' %>
      </div>  
      <div class="input-with-label text-left">
        <label>Address</label>
        <%= f.text_field :p_city, placeholder: 'City' %>
      </div>
      <div class="input-with-label text-left">
        <label>Address</label>
        <%= f.text_field :p_state, placeholder: 'State' %>
      </div>
      <div class="input-with-label text-left">
        <label>Address</label>
        <%= f.text_field :p_pincode, placeholder: 'pincode' %>
      </div>      
    </div>
    <div class="col-sm-6">
      <div class="input-with-label text-left">
        <span>Permanent Address</span>
        <label>Address</label>
        <%= f.text_field :c_address, placeholder: 'Address line 1' %>
      </div>  
      <div class="input-with-label text-left">
        <label>Address</label>
        <%= f.text_field :c_city, placeholder: 'City' %>
      </div>
      <div class="input-with-label text-left">
        <label>Address</label>
        <%= f.text_field :c_state, placeholder: 'State' %>
      </div>
      <div class="input-with-label text-left">
        <label>Address</label>
        <%= f.text_field :p_pincode, placeholder: 'pincode' %>
      </div>      
      
      <!--end select-->
      <form class="mb24">
        <span>Would you like to Susbscribe googleHomes newsletters</span>
        <div class="checkbox-option pull-right">
          <div class="inner"></div>
          <input name="checkbox" value="Checkbox" type="checkbox">
        </div>
      </form>
      <hr>
      
      <input value="Submit Button" type="submit">
    </div>
  </div>

