<div class="tenat-house">
	<div align="center">
		<h3 class="uppercase">My House</h3>
	</div>
	<div class="row">
		<% unless @booking.blank? %>
		<div class="col-sm-4">
			<%=image_tag @house.house_image.first.url(:thumb), class:"img-responsive"%>
		</div>	
		<div class="col-sm-8">
			<h5><%= @house.name %></h5>
			<h5><%= @house.location %></h5>
			<% my_deposite = DepositeRent.where(tenant_id: current_user.id, house_id: @booking.house_id).first %>
			<% if my_deposite.blank? %>
			<div class="alert alert-warning">
				<h5>you have not pay your deposite please pay now.</h5>
				<%= form_tag deposites_path do %>
						<%= hidden_field_tag 'house_id',nil, value: @booking.house_id %>
						<%= hidden_field_tag 'deposite',nil, value: @booking.rent.to_f*2 %>
						<%= hidden_field_tag 'tenant',nil, value: current_user.id%>
						<%= hidden_field_tag 'bed_room',nil, value: @booking.bed_room_id %>
						
						<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						  	data-key="<%= Rails.configuration.stripe[:publishable_key] 	%>"
						  	data-description="Pay Token money/first month rent" data-label = 'Pay Now'
						  	data-amount="<% @booking.rent.to_f %>"
						  	data-locale="auto">
					  	</script>	
					<% end %>
				
			</div>
			<% end %>
		</div>
		<% else %>
		<div align="center">
			<h5>You have'nt book any house.</h5>
			<a href="#" class="btn">Explore houses</a>
		</div>
		<% end %>

	</div>
</div>
<hr style="width:100%; border:1px solid #ccc;">
<% unless @booking.blank? %>
<div class='pt20'>
	<div class="row leave_review">
			<h5 class="text-center uppercase"> Tell others about this house - write a review </h5>
			<div class="col-sm-6 col-sm-offset-3">
				<%= form_for Review.new do |f|  %>
				<div>
					<%= f.text_area :message,rows:"3", placeholder:"Write a review", style: "border: 1px solid #c4c4c4;"%>
				</div>
				<%= f.hidden_field :tenant_id, value: current_user.id%>
				<%= f.hidden_field :house_id, value: @house.id%>
				<div>
					<%= f.submit 'review', class: 'btn btn-sm'%>
				</div>
				<% end %>
			</div>
	</div>
</div>
<% end %>