<div class="tenat-house">
	<div align="center">
		<h3 class="uppercase">My House</h3>
	</div>
	<div class="row">
		<% unless @booking.blank? %>
		<div class="col-sm-4">
			<%=image_tag @house.house_image.first.url(:thumb), class:"img-responsive"%>
		</div>	
		<div class="col-sm-8">
			<h5><%= @house.name %></h5>
			<h5><%= @house.location %></h5>
			<div class="alert alert-warning">
				<h5>you have not pay your deposite please pay now.</h5>
				<a href="">Rs <%= 2* @booking.rent.to_f %></a>
				
			</div>
		</div>
		<% else %>
		<div align="center">
			<h5>You have'nt book any house.</h5>
			<a href="#" class="btn">Explore houses</a>
		</div>
		<% end %>

	</div>
</div>
<% unless @booking.blank? %>
<div class='pt20'>
	<div class="row">		
		<div class="col-md-3">
			<p> Leave review </p>
		</div>
		<div class="col-md-6">
			<%= form_for Review.new do |f|  %>
			<div class="form-group row">
				<%= f.text_area :message, class: 'form-control'%>
			</div>
			<%= f.hidden_field :tenant_id, value: current_user.id%>
			<%= f.hidden_field :house_id, value: @house.id%>
			<div class="form-group row">
				<%= f.submit 'review', class: 'btn btn-sm btn-info pull-right'%>
			</div>
			<% end %>
		</div>
	</div>
</div>
<% end %>