
<% if !current_user.tenant_profile.valid? %>
<p class="alert alert-warning">
	Your profile is incomplete. Please fill out more of your

	<%= link_to 'Update Profile',  edit_tenant_tenant_tenant_profile_path(tenant_id: current_user.id, id: current_user.tenant_profile.id)%>
</p>
<%end%>

<section>
	<div class="row">
	<div class="container-fluid">
		<div class="col-sm-4 ">
			<div class=" pt-1 text-center">
				<h5 class="uppercase"></h5>
				<%= image_tag @tenant_profile.image_url(:thumb) if @tenant_profile.image? %>

			</div>
			<!--end of pricing table-->
		</div>
		<div class="col-sm-4 t-profile-info">
			<div class=" pt-1  boxed">
				<h5 class="uppercase">Personal info</h5>
				<p>name: <span><%=@tenant.full_name%></span> </p>
				<p>Gender: <span>
					<%="Male" if @tenant_profile.sex == "true" %>
					<%="Female" if @tenant_profile.sex == "false"  %>
					</span> 
				</p>
				<p>Birth date: <span><%=@tenant_profile.DOB%></span> </p>
				<p>email:<span><%=@tenant.email%></p>
				<p>About me: <span><%=@tenant_profile.bio%></span> </p>

			</div>
			<!--end of pricing table-->
		</div>
		<div class="col-sm-4 t-profile-info">
			<div class="pt-1 ">
				<h5 class="uppercase">Address</h5>
				<p>Permanent Address:<span><%=@tenant_profile.full_permamnent_address%></span></p>
				<p>Contact Number:<span><%=@tenant.contact_number%></span></p>

				
			</div>
			<!--end of pricing table-->

		</div>
			
		</div>
	</div>
	<div class="container">
			<%= link_to 'Update Profile',  edit_tenant_tenant_tenant_profile_path(tenant_id: current_user.id, id: current_user.tenant_profile.id), class:'btn'%>
			<%= link_to 'Update Account', edit_tenant_registration_path, class:'btn'%>
		</div>
			
</section>